<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-center">
        Ostoslista
      </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" *ngIf="Ostokset.ostokset.length < 1">
    <h2>Ostoslistasi on tyhjä. Lisää ostoksia painamalla "Lisää uusi"-nappia.</h2>
  </ion-item>
  <ion-list lines="full">
    <ion-item *ngFor="let ostos of Ostokset.ostokset, let i = index;" [color]="ostos.valittu ? 'success' : 'none'">
          <ion-label>{{ostos.asia}} <b>{{ostos.maara}}</b></ion-label>
          <ion-checkbox (ionChange)="muuta(ostos.id, ostos.valittu)" slot="start" [(ngModel)]="ostos.valittu" color="success"></ion-checkbox> 
          <ion-button (click)="poista(ostos.id)" color="danger">Poista</ion-button>
   </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button (click)="avaaAlert()" expand="block" size="large" color="success" fill="outline">
    Lisää uusi
  </ion-button>
</ion-footer>
